---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"89 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - dc3b875a-66dd-4c43-9854-154822fae0c1
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12584,"key":"5679816e6400d1a30f7722367b5c496f9ce3e6cd","name":"89
        - New deal field","order_nr":136,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:41","update_time":"2017-09-14 22:16:41","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:42 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 700c3168-198b-4f72-a27d-39d0e21c9ba2
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":12449,"key":"title","name":"T\u00edtulo","order_nr":1,"picklist_data":null,"field_type":"varchar","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"use_field":"id","link":"\/deal\/view\/","mandatory_flag":true},{"id":12450,"key":"creator_user_id","name":"Criador","order_nr":2,"picklist_data":null,"field_type":"user","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"searchable_flag":false,"mandatory_flag":true},{"id":12451,"key":"user_id","name":"Propriet\u00e1rio","order_nr":3,"picklist_data":null,"field_type":"user","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"mandatory_flag":true},{"id":12452,"key":"value","name":"Valor","order_nr":4,"picklist_data":null,"field_type":"monetary","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"mandatory_flag":false},{"id":null,"key":"currency","name":"Moeda","field_type":"varchar","edit_flag":false,"active_flag":true,"is_subfield":true,"mandatory_flag":true},{"id":12453,"key":"org_id","name":"Organiza\u00e7\u00e3o","order_nr":5,"picklist_data":null,"field_type":"org","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"mandatory_flag":{"person_id":"<=0"}},{"id":12454,"key":"pipeline","name":"Funil","order_nr":6,"picklist_data":null,"field_type":"double","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"searchable_flag":false,"mandatory_flag":true},{"id":12455,"key":"person_id","name":"Pessoa
        de contato","order_nr":7,"picklist_data":null,"field_type":"people","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"mandatory_flag":{"org_id":"<=0"}},{"id":12456,"key":"stage_id","name":"Etapa","order_nr":8,"picklist_data":null,"field_type":"stage","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"use_field":"stage","mandatory_flag":true},{"id":12457,"key":"status","name":"Status","order_nr":9,"field_type":"status","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":false,"options":[{"id":"open","label":"Em
        aberto"},{"id":"lost","label":"Perdido"},{"id":"won","label":"Ganho"},{"id":"deleted","label":"Exclu\u00eddo"}],"mandatory_flag":true},{"id":12458,"key":"add_time","name":"Neg\u00f3cio
        criado em","order_nr":10,"picklist_data":null,"field_type":"date","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_a[...]
