---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"59 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12711,"key":"51da90cdee82c10101ee8c8487436bd1e0276d9c","name":"59
        - New deal field","order_nr":267,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        18:25:00","update_time":"2016-07-19 18:25:00","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 18:25:00 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/dealFields?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":12443,"key":"title","name":"T\u00edtulo","order_nr":1,"picklist_data":null,"field_type":"varchar","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"use_field":"id","link":"\/deal\/view\/","mandatory_flag":true},{"id":12444,"key":"creator_user_id","name":"Criador","order_nr":2,"picklist_data":null,"field_type":"user","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"mandatory_flag":true},{"id":12445,"key":"user_id","name":"Propriet\u00e1rio","order_nr":3,"picklist_data":null,"field_type":"user","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":true},{"id":12446,"key":"value","name":"Valor","order_nr":4,"picklist_data":null,"field_type":"monetary","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false},{"id":null,"key":"currency","name":"Moeda","field_type":"varchar","edit_flag":false,"active_flag":true,"is_subfield":true,"mandatory_flag":true},{"id":12447,"key":"org_id","name":"Organiza\u00e7\u00e3o","order_nr":5,"picklist_data":null,"field_type":"org","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":{"person_id":"<=0"}},{"id":12448,"key":"pipeline","name":"Funil","order_nr":6,"picklist_data":null,"field_type":"double","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"mandatory_flag":true},{"id":12449,"key":"person_id","name":"Pessoa
        de contato","order_nr":7,"picklist_data":null,"field_type":"people","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":{"org_id":"<=0"}},{"id":12450,"key":"stage_id","name":"Etapa","order_nr":8,"picklist_data":null,"field_type":"stage","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"use_field":"stage","mandatory_flag":true},{"id":12451,"key":"status","name":"Status","order_nr":9,"field_type":"status","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"options":[{"id":"open","label":"Em
        aberto"},{"id":"lost","label":"Perdido"},{"id":"won","label":"Ganho"},{"id":"deleted","label":"Exclu\u00eddo"}],"mandatory_flag":true},{"id":12452,"key":"add_time","name":"Neg\u00f3cio
        criado em","order_nr":10,"picklist_data":null,"field_type":"date","add_time":"2016-06-25
        11:35:41","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_a[...]
