---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"49 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12706,"key":"b55473ad355656e39662d1a0660a42c269c0c851","name":"49
        - New deal field","order_nr":262,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        18:24:45","update_time":"2016-07-19 18:24:45","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 18:24:46 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Name and field type must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Tue, 19 Jul 2016 18:24:46 GMT
recorded_with: VCR 3.0.3
