---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"17 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 1e61b4cd-280f-46ef-b53b-13be61be4b12
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12585,"key":"c599d02c4cb89ffc827fe11680708aa8e6d2e2f9","name":"17
        - New deal field","order_nr":137,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:44","update_time":"2017-09-14 22:16:44","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:45 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a77f34f7-8316-4fe2-8b5e-2f05f791b0a6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Name and field type must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 22:16:46 GMT
recorded_with: VCR 3.0.3
