---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"40 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6341d53f-d767-4f2e-8c8c-aac2c4ced080
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":258,"name":"40 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"4","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        22:17:35","update_time":"2017-09-14 22:17:35","prices":[{"id":263,"product_id":258,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 22:17:35 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/258/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":258,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 2ac7e2b6-a350-45a6-b92a-d2253d2536a9
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":14,"product_id":258,"add_time":"2017-09-14
        22:17:37"}}'
  recorded_at: Thu, 14 Sep 2017 22:17:37 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/258/followers/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":258,"user_id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ef144904-d66d-4c06-841e-c6024caf1637
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Follower not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 22:17:39 GMT
recorded_with: VCR 3.0.3
