---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/221/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":221,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":71,"product_id":221,"add_time":"2016-07-19
        17:06:36"}}'
  recorded_at: Tue, 19 Jul 2016 17:06:37 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/221/followers/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":221,"user_id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Follower not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Tue, 19 Jul 2016 17:06:38 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/294/followers/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":294,"user_id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Follower not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Tue, 19 Jul 2016 17:31:25 GMT
recorded_with: VCR 3.0.3
