---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"1364,1365"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["1364","1365"]}}'
  recorded_at: Tue, 19 Jul 2016 15:45:15 GMT
recorded_with: VCR 3.0.3
