---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"30,31"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 36dbe659-0531-422c-8349-daf59b3da690
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["30","31"]}}'
  recorded_at: Thu, 14 Sep 2017 21:37:23 GMT
recorded_with: VCR 3.0.3
