---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"25,26"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 05b8df3a-9fb6-4c47-b8c6-c942659c2019
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["25","26"]}}'
  recorded_at: Thu, 14 Sep 2017 21:23:16 GMT
recorded_with: VCR 3.0.3
