---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"55,56"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 00ce3db2-65e8-4c5d-9a5a-f650e7c6cff2
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["55","56"]}}'
  recorded_at: Thu, 14 Sep 2017 22:16:23 GMT
recorded_with: VCR 3.0.3
