---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/userConnections/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - dfb3c462-e4ac-44f5-a7d3-ad0e6cb08ee6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"google":false}}'
  recorded_at: Thu, 14 Sep 2017 21:38:25 GMT
recorded_with: VCR 3.0.3
