---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/userConnections?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"google":false}}'
  recorded_at: Fri, 15 Jul 2016 22:11:18 GMT
recorded_with: VCR 3.0.3
