---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/userConnections/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9d4672ec-efc2-4988-a023-e85cca5f02b7
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"google":false}}'
  recorded_at: Thu, 14 Sep 2017 21:24:36 GMT
recorded_with: VCR 3.0.3
