---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/pushNotifications?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":156,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-19
        17:52:28","active_flag":true,"remove_time":null,"http_last_response_code":null},{"id":157,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-19
        17:52:29","active_flag":true,"remove_time":null,"http_last_response_code":null},{"id":160,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/pushNotifications/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":239,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br\/1","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-21
        12:32:26","active_flag":true,"remove_time":null,"http_last_response_code":null}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 21 Jul 2016 12:32:29 GMT
recorded_with: VCR 3.0.3
