---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"54 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12704,"key":"0db0788d550b6db8a50b96ba2b6f5f9dfb79041a","name":"54
        - New deal field","order_nr":260,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        18:24:42","update_time":"2016-07-19 18:24:42","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 18:24:43 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12705,"key":"a7d020fe4d361b0e6b4fb24a2a1089c2e84245db","name":"New
        deal field","order_nr":261,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        18:24:44","update_time":"2016-07-19 18:24:43","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 18:24:44 GMT
recorded_with: VCR 3.0.3
