---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"96 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8fdf6a1d-696b-44cc-86f1-1edf43c6ebe7
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12588,"key":"e413a222c251d768695d48678982d32625622528","name":"96
        - New deal field","order_nr":140,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:50","update_time":"2017-09-14 22:16:50","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:51 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 02adf42b-9d0a-4b8d-b346-51743600bee6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12589,"key":"57af3d7d1c378f1e85040ae8b1120e6b00058e57","name":"New
        deal field","order_nr":141,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:52","update_time":"2017-09-14 22:16:52","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:52 GMT
recorded_with: VCR 3.0.3
