---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"64 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9cfa296b-f6e5-4f28-a4fd-fc51284def61
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12574,"key":"dacc937013d38380983034f32a712b5ad5c7efe1","name":"64
        - New deal field","order_nr":126,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:31","update_time":"2017-09-14 21:39:31","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:31 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c425b0f0-0734-48f2-81c5-6febe06761a1
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12575,"key":"285a86aaa754e8f1da68285f89f4539ba9250010","name":"New
        deal field","order_nr":127,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:32","update_time":"2017-09-14 21:39:32","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:34 GMT
recorded_with: VCR 3.0.3
