---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/pushNotifications/156/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":156,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-19
        17:52:28","active_flag":true,"remove_time":null,"http_last_response_code":null}}'
  recorded_at: Tue, 19 Jul 2016 18:22:12 GMT
recorded_with: VCR 3.0.3
