---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/pushNotifications/18?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":18,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br\/0","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-16
        01:29:27","active_flag":true,"remove_time":null,"http_last_response_code":null}}'
  recorded_at: Sat, 16 Jul 2016 01:29:30 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/pushNotifications/40?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":40,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br\/0","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-16
        01:42:59","active_flag":false,"remove_time":"2016-07-16 01:43:01","http_last_response_code":null}}'
  recorded_at: Sat, 16 Jul 2016 01:43:02 GMT
recorded_with: VCR 3.0.3
