---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/organizations/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Company"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Bad request","error_info":"Please check developers.pipedrive.com
        for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Fri, 08 Jul 2016 17:54:04 GMT
- request:
    method: put
    uri: https://api.pipedrive.com/v1/organizations/1?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"New Named"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1,"company_id":1051939,"owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"name":"New
        Named","open_deals_count":0,"closed_deals_count":null,"email_messages_count":0,"people_count":1,"activities_count":1,"done_activities_count":0,"undone_activities_count":1,"reference_activities_count":0,"files_count":null,"notes_count":0,"followers_count":1,"won_deals_count":0,"lost_deals_count":0,"active_flag":true,"category_id":null,"picture_id":null,"country_code":null,"first_char":"n","update_time":"2016-07-08
        19:26:49","add_time":"2016-06-30 12:23:37","visible_to":"3","next_activity_date":"2016-07-04","next_activity_time":null,"next_activity_id":1,"last_activity_id":null,"last_activity_date":null,"address":null,"address_subpremise":null,"address_street_number":null,"address_route":null,"address_sublocality":null,"address_locality":null,"address_admin_area_level_1":null,"address_admin_area_level_2":null,"address_country":null,"address_postal_code":null,"address_formatted_address":null,"cc_email":"prepared-tray@pipedrivemail.com"},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Fri, 08 Jul 2016 19:26:49 GMT
recorded_with: VCR 3.0.3
