---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/33/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 18043786-06ea-42fd-ad67-e1cd6effa4a7
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-09-14
        22:16:20","data":{"id":126,"item_id":33,"user_id":742863,"field_key":"value","old_value":"0","new_value":"93","is_bulk_update_flag":null,"log_time":"2017-09-14
        22:16:20","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        22:16:04","data":{"id":123,"item_id":33,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2017-09-14
        22:16:04","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        21:37:43","data":{"id":63,"item_id":33,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2017-09-14
        21:37:43","is_bulk_update_flag":null,"log_time":"2017-09-14 21:37:43","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 22:16:31 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/58/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 20a3ac22-5700-49f3-a148-81ccc26c255b
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-09-14
        23:04:47","data":{"id":154,"item_id":58,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2017-09-14
        23:04:47","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        22:16:12","data":{"id":124,"item_id":58,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2017-09-14
        22:16:12","is_bulk_update_flag":null,"log_time":"2017-09-14 22:16:12","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 23:04:50 GMT
recorded_with: VCR 3.0.3
