---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b8f81d04-f13b-4331-a70c-74371449850f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-09-14
        21:22:59","data":{"id":53,"item_id":10,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2017-09-14
        21:22:59","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        21:22:56","data":{"id":52,"item_id":10,"user_id":742863,"field_key":"value","old_value":"0","new_value":"365","is_bulk_update_flag":null,"log_time":"2017-09-14
        21:22:56","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        18:56:35","data":{"id":19,"item_id":10,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2017-09-14
        18:56:35","is_bulk_update_flag":null,"log_time":"2017-09-14 18:56:35","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:23:12 GMT
recorded_with: VCR 3.0.3
