---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/18/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 2507798a-9373-46ab-b04c-9a2276638ecc
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-09-14
        21:37:28","data":{"id":61,"item_id":18,"user_id":742863,"field_key":"value","old_value":"0","new_value":"349","is_bulk_update_flag":null,"log_time":"2017-09-14
        21:37:28","additional_data":[]}},{"object":"dealChange","timestamp":"2017-09-14
        21:07:59","data":{"id":35,"item_id":18,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2017-09-14
        21:07:59","is_bulk_update_flag":null,"log_time":"2017-09-14 21:07:59","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:37:39 GMT
recorded_with: VCR 3.0.3
