---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1444/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-19
        18:24:03","data":{"id":3255,"item_id":1444,"user_id":742863,"field_key":"value","old_value":"0","new_value":"793","is_bulk_update_flag":null,"log_time":"2016-07-19
        18:24:03","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        17:52:11","data":{"id":3212,"item_id":1444,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-19
        17:52:11","is_bulk_update_flag":null,"log_time":"2016-07-19 17:52:11","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 18:24:08 GMT
recorded_with: VCR 3.0.3
