---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/835/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-13
        18:24:14","data":{"id":1830,"item_id":835,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-13
        18:24:14","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-13
        18:24:12","data":{"id":1829,"item_id":835,"user_id":742863,"field_key":"value","old_value":"0","new_value":"842","is_bulk_update_flag":null,"log_time":"2016-07-13
        18:24:12","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-13
        18:24:06","data":{"id":1826,"item_id":835,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-13
        18:24:06","is_bulk_update_flag":null,"log_time":"2016-07-13 18:24:06","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 13 Jul 2016 18:24:17 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/https://api.pipedrive.com/v1/deals/870/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Jul 2016 07:07:24 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/968/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-14
        10:35:15","data":{"id":2129,"item_id":968,"user_id":742863,"field_key":"value","old_value":"0","new_value":"681","is_bulk_update_flag":null,"log_time":"2016-07-14
        10:35:15","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-14
        10:35:09","data":{"id":2127,"item_id":968,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-14
        10:35:09","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-14
        10:35:06","data":{"id":2125,"item_id":968,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-14
        10:35:06","is_bulk_update_flag":null,"log_time":"2016-07-14 10:35:06","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 10:35:16 GMT
recorded_with: VCR 3.0.3
