---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1632/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-24
        20:14:51","data":{"id":3674,"item_id":1632,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-24
        20:14:51","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-24
        20:14:48","data":{"id":3671,"item_id":1632,"user_id":742863,"field_key":"value","old_value":"0","new_value":"208","is_bulk_update_flag":null,"log_time":"2016-07-24
        20:14:48","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-21
        17:06:39","data":{"id":3642,"item_id":1632,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-21
        17:06:39","is_bulk_update_flag":null,"log_time":"2016-07-21 17:06:39","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Sun, 24 Jul 2016 20:14:54 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/5/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a950134d-1d67-471b-8279-3a3067608fbf
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-08-18
        20:23:14","data":{"id":16,"item_id":5,"user_id":2876523,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2017-08-18
        20:23:14","additional_data":[]}},{"object":"dealChange","timestamp":"2017-08-18
        20:23:13","data":{"id":15,"item_id":5,"user_id":2876523,"field_key":"value","old_value":"0","new_value":"534","is_bulk_update_flag":null,"log_time":"2017-08-18
        20:23:13","additional_data":[]}},{"object":"dealChange","timestamp":"2017-08-18
        20:23:10","data":{"id":13,"item_id":5,"user_id":2876523,"field_key":"add_time","old_value":null,"new_value":"2017-08-18
        20:23:10","is_bulk_update_flag":null,"log_time":"2017-08-18 20:23:10","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Fri, 18 Aug 2017 20:23:23 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/12/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 61cfbcda-18bd-4a2c-9aa9-76b8c165348e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2017-08-18
        20:27:10","data":{"id":31,"item_id":12,"user_id":2876523,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2017-08-18
        20:27:10","additional_data":[]}},{"object":"dealChange","timestamp":"2017-08-18
        20:27:09","data":{"id":30,"item_id":12,"user_id":2876523,"field_key":"value","old_value":"0","new_value":"844","is_bulk_update_flag":null,"log_time":"2017-08-18
        20:27:09","additional_data":[]}},{"object":"dealChange","timestamp":"2017-08-18
        20:27:06","data":{"id":28,"item_id":12,"user_id":2876523,"field_key":"add_time","old_value":null,"new_value":"2017-08-18
        20:27:06","is_bulk_update_flag":null,"log_time":"2017-08-18 20:27:06","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Fri, 18 Aug 2017 20:27:18 GMT
recorded_with: VCR 3.0.3
