---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1347/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-19
        12:53:27","data":{"id":3022,"item_id":1347,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-19
        12:53:27","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        12:53:21","data":{"id":3019,"item_id":1347,"user_id":742863,"field_key":"value","old_value":"0","new_value":"613","is_bulk_update_flag":null,"log_time":"2016-07-19
        12:53:21","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        12:31:19","data":{"id":2995,"item_id":1347,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-19
        12:31:19","is_bulk_update_flag":null,"log_time":"2016-07-19 12:31:19","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 12:53:39 GMT
recorded_with: VCR 3.0.3
