---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1356/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-19
        15:45:29","data":{"id":3035,"item_id":1356,"user_id":742863,"field_key":"value","old_value":"0","new_value":"472","is_bulk_update_flag":null,"log_time":"2016-07-19
        15:45:29","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        15:45:26","data":{"id":3034,"item_id":1356,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-19
        15:45:26","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        12:36:05","data":{"id":3010,"item_id":1356,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-19
        12:36:05","is_bulk_update_flag":null,"log_time":"2016-07-19 12:36:05","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 15:45:34 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1357/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-19
        16:34:26","data":{"id":3039,"item_id":1357,"user_id":742863,"field_key":"status","old_value":"open","new_value":"deleted","is_bulk_update_flag":null,"log_time":"2016-07-19
        16:34:26","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-19
        12:36:28","data":{"id":3015,"item_id":1357,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-19
        12:36:28","is_bulk_update_flag":null,"log_time":"2016-07-19 12:36:28","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 16:34:28 GMT
recorded_with: VCR 3.0.3
