---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/989/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-14
        11:00:16","data":{"id":2171,"item_id":989,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-14
        11:00:16","is_bulk_update_flag":null,"log_time":"2016-07-14 11:00:16","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 11:03:51 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1017/flow?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"object":"dealChange","timestamp":"2016-07-14
        13:03:17","data":{"id":2252,"item_id":1017,"user_id":742863,"field_key":"value","old_value":"0","new_value":"455","is_bulk_update_flag":null,"log_time":"2016-07-14
        13:03:17","additional_data":[]}},{"object":"dealChange","timestamp":"2016-07-14
        12:48:42","data":{"id":2232,"item_id":1017,"user_id":742863,"field_key":"add_time","old_value":null,"new_value":"2016-07-14
        12:48:42","is_bulk_update_flag":null,"log_time":"2016-07-14 12:48:42","additional_data":[]}}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 13:03:20 GMT
recorded_with: VCR 3.0.3
