---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals/1347/merge?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: id=1347&merge_with_id=1360
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1360,"creator_user_id":742863,"user_id":742863,"person_id":null,"org_id":null,"stage_id":1,"title":"1
        - Novo Negocio","value":613,"currency":"BRL","add_time":"2016-07-19 12:53:19","update_time":"2016-07-19
        12:53:27","stage_change_time":null,"active":true,"deleted":false,"status":"open","next_activity_date":null,"next_activity_time":null,"next_activity_id":null,"last_activity_id":null,"last_activity_date":null,"lost_reason":null,"visible_to":"3","close_time":null,"pipeline_id":1,"won_time":null,"first_won_time":null,"lost_time":null,"products_count":null,"files_count":null,"notes_count":0,"followers_count":1,"email_messages_count":null,"activities_count":null,"done_activities_count":null,"undone_activities_count":null,"reference_activities_count":null,"participants_count":0,"expected_close_date":null,"687e4a4b59396708b18e98c08af9998411653cb7":null,"e24071f86800683b9c3aae8f4fa107a44d41d38a":null,"b99e06af3574fb7fd02aedbae266f9ec40c3d215":null,"ea4f001195e795bd9754c844f36aac0430def3f0":null,"85bd271231a5d76b0ab9f1419639f657ec0ecc79":null,"6de25b2b6d75eaaaebdbd9f3e64dd934016e98fc":null,"stage_order_nr":1,"person_name":null,"org_name":null,"next_activity_subject":null,"next_activity_type":null,"next_activity_duration":null,"next_activity_note":null,"formatted_value":"R$613","rotten_time":null,"weighted_value":613,"formatted_weighted_value":"R$613","owner_name":"Felipe
        Borges Ferreira","cc_email":"prepared-tray+deal1360@pipedrivemail.com","org_hidden":false,"person_hidden":false,"merge_what_id":1347}}'
  recorded_at: Tue, 19 Jul 2016 12:53:27 GMT
recorded_with: VCR 3.0.3
