---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e894be1f-5077-4f4c-a653-a32e15a09ee8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"product","id":110,"source":"elastic2","result_score":6.4167233,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/110"},{"type":"product","id":235,"source":"elastic2","result_score":6.4167233,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/235"},{"type":"product","id":93,"source":"elastic2","result_score":6.4167233,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/93"},{"type":"product","id":202,"source":"elastic2",[...]
