---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 28c4c9c4-bc07-4e0e-b315-cf98e42e15ec
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"product","id":202,"source":"elastic2","result_score":6.41286,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/202"},{"type":"product","id":232,"source":"elastic2","result_score":6.41286,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/232"},{"type":"product","id":291,"source":"elastic2","result_score":6.409589,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/291"},{"type":"product","id":235,"source":"elastic2","[...]
