---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 64d0f56a-99ac-405b-a316-f01e0ad475b2
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"product","id":93,"source":"elastic2","result_score":6.441612,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/93"},{"type":"product","id":110,"source":"elastic2","result_score":6.441612,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/110"},{"type":"product","id":202,"source":"elastic2","result_score":6.372425,"notes":{"count":0,"content":[]},"fields":{"count":0,"names":[]},"title":"Novo
        Produto","details":"","url":"\/product\/details\/202"},{"type":"product","id":21,"source":"elastic2","r[...]
