---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"deal","id":1347,"title":"Novo Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1357,"title":"Novo
        Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1358,"title":"Novo
        Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1356,"title":"Novo
        Negocio (c\u00f3pia)","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"product","id":68,"title":"Novo
        Produto","details":"","url":"\/product\/details\/68"},{"type":"product","id":69,"title":"Novo
        Produto","details":"","url":"\/product\/details\/69"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 12:53:16 GMT
recorded_with: VCR 3.0.3
