---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"deal","id":1444,"title":"Novo Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1445,"title":"Novo
        Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1448,"title":"Novo
        Negocio","details":{"value":0,"currency":"BRL","value_formatted":"R$0","status":"open","stage_name":"Ideia","stage_id":1,"person_name":null,"person_id":null,"org_name":null,"org_id":null}},{"type":"deal","id":1[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/?api_token=<API_KEY>&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"type":"product","id":335,"title":"Novo Produto","details":"","url":"\/product\/details\/335"},{"type":"product","id":336,"title":"Novo
        Produto","details":"","url":"\/product\/details\/336"},{"type":"product","id":341,"title":"Novo
        Produto","details":"","url":"\/product\/details\/341"},{"type":"product","id":342,"title":"Novo
        Produto","details":"","url":"\/product\/details\/342"},{"type":"product","id":349,"title":"Novo
        Produto","details":"","url":"\/product\/details\/349"},{"type":"product","id":350,"title":"Novo
        Produto","details":"","url":"\/product\/details\/350"},{"type":"product","id":383,"title":"Novo
        Produto","details":"","url":"\/product\/details\/383"},{"type":"product","id":386,"title":"Novo
        Produto","details":"","url":"\/product\/details\/386"},{"type":"product","id":440,"title":"Novo
        Produto","details":"","url":"\/product\/details\/440"},{"type":"product","id":443,"title":"Novo
        Produto","details":"","url":"\/product\/details\/443"},{"type":"product","id":345,"title":"0
        - Novo Produto","details":"","url":"\/product\/details\/345"},{"type":"product","id":346,"title":"1
        - Novo Produto","details":"","url":"\/product\/details\/346"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 21 Jul 2016 12:32:21 GMT
recorded_with: VCR 3.0.3
