---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":"https://requestb.in/r995rnr9","event_action":"added","event_object":"activity"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 26336ab4-52f1-4c7e-8737-8af1c8e25847
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: UTF-8
      string: '{"status":"ok","success":true,"data":{"id":21003,"company_id":1968662,"admin_id":2876523,"user_id":2876523,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-08-18T20:21:45.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{}}}'
  recorded_at: Fri, 18 Aug 2017 20:21:45 GMT
recorded_with: VCR 3.0.3
