---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9579a6c6-6b53-4231-b977-e8d7a2f4a9fc
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:37:42 GMT
recorded_with: VCR 3.0.3
