---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ac6d9e9f-8205-4a93-a0b8-73b6ffecc20c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:23:01 GMT
recorded_with: VCR 3.0.3
