---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/participants?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - dc42945d-52b9-4640-aff6-09da6d30439d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '90'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:23:04 GMT
recorded_with: VCR 3.0.3
