---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"73 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 27a90aff-b555-423f-a708-c2b85642c863
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":289,"name":"73 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"7","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        22:18:37","update_time":"2017-09-14 22:18:37","prices":[{"id":295,"product_id":289,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 22:18:37 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 2cafaf89-6d93-4138-b5c6-3a5eb567c2fe
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":291,"name":"Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"n","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        22:18:40","update_time":"2017-09-14 22:18:40","prices":[{"id":297,"product_id":291,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 22:18:40 GMT
recorded_with: VCR 3.0.3
