---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"33 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - d9c00e90-a6ad-43a2-92d6-ae4f9c23ea67
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '90'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":197,"name":"33 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"3","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:20:40","update_time":"2017-09-14 21:20:40","prices":[{"id":201,"product_id":197,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:20:39 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a5f4d79c-32b7-4607-a554-b58f5836df24
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":199,"name":"Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"n","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:20:41","update_time":"2017-09-14 21:20:41","prices":[{"id":203,"product_id":199,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:20:41 GMT
recorded_with: VCR 3.0.3
