---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1632/emailMessages?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Sun, 24 Jul 2016 20:14:47 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/5/emailMessages?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c64d6134-7782-44f7-a482-8559a1fc9b6a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Fri, 18 Aug 2017 20:23:25 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/emailMessages?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a4de42e0-2256-401d-ab9a-a680dee00253
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Fri, 18 Aug 2017 20:25:01 GMT
recorded_with: VCR 3.0.3
