---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/products?api_token=<API_KEY>&include_product_data=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e45f3e8c-387a-46e8-b47d-fab0a22525aa
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:22:57 GMT
recorded_with: VCR 3.0.3
