---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/18/products?api_token=<API_KEY>&include_product_data=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - dc992941-002d-4f4e-85bd-ae9a5fbdef6f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:37:18 GMT
recorded_with: VCR 3.0.3
