---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 827e88cb-4a4a-4585-a9a1-72cbab0c1592
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"event_action":["can''t
        be blank"],"event_object":["can''t be blank"],"subscription_url":["can''t
        be blank"]}}'
  recorded_at: Thu, 14 Sep 2017 21:22:26 GMT
recorded_with: VCR 3.0.3
