---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 2aadede3-e1e6-4d38-a1ad-b238a07a63e4
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"event_action":["can''t
        be blank"],"event_object":["can''t be blank"],"subscription_url":["can''t
        be blank"]}}'
  recorded_at: Thu, 14 Sep 2017 22:17:21 GMT
recorded_with: VCR 3.0.3
