---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 44f26f81-31f5-428c-bbba-380c2ebb16bd
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"event_action":["can''t
        be blank"],"event_object":["can''t be blank"],"subscription_url":["can''t
        be blank"]}}'
  recorded_at: Fri, 18 Aug 2017 20:21:46 GMT
recorded_with: VCR 3.0.3
