---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - c58f8cf9-1221-4b2c-85d2-eaa25c3ad243
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"event_action":["can''t
        be blank"],"event_object":["can''t be blank"],"subscription_url":["can''t
        be blank"]}}'
  recorded_at: Thu, 14 Sep 2017 21:44:55 GMT
recorded_with: VCR 3.0.3
