---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/recents/?api_token=<API_KEY>&since_timestamp=2016-06-01%2000:00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 18ce66c1-8293-41f9-b496-ef49a7fce373
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"item":"user","id":742863,"data":[{"id":742863,"name":"Felipe
        Borges Ferreira","default_currency":"BRL","locale":"pt_BR","lang":7,"email":"lypborges@gmail.com","phone":null,"activated":true,"last_login":"2017-09-14
        21:07:23","created":"2015-07-22 01:37:38","modified":"2017-09-14 21:07:23","signup_flow_variation":null,"has_created_company":true,"is_admin":1,"timezone_name":"America\/Sao_Paulo","timezone_offset":"-03:00","active_flag":true,"role_id":1,"icon_url":"https:\/\/d3myhnqlqw2314.cloudfront.net\/profile_120x120_742863_bfccbfcd721e34fd60c0851a2fd27332.jpg","is_you":true}]},{"item":"activityType","id":7,"data":{"id":7,"order_nr":7,"name":"32
        - Novo Produto","key_string":"32___novo_produto","icon_key":"32 - novo produto","active_flag":false,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        18:47:28","update_time":"2017-09-14 18:47:53"}},{"item":"activityType","id":9,"data":{"id":9,"order_nr":9,"name":"78
        - Novo Produto","key_string":"78___novo_produto","icon_key":"78 - novo produto","active_flag":false,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        18:47:31","update_time":"2017-09-14 18:47:54"}},{"item":"activityType","id":8,"data":{"id":8,"order_nr":8,"name":"41
        - Novo Produto","key_string":"41___novo_produto","icon_key":"41 - novo produto","active_flag":false,"color":[...]
