---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/field?api_token=<API_KEY>&field_key=title&field_type=dealField&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 82ce56ac-39e6-4755-8538-32304e604c8c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"title":"Novo Negocio"},{"title":"Novo Negocio
        (c\u00f3pia)"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:45:04 GMT
recorded_with: VCR 3.0.3
