---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/searchResults/field?api_token=<API_KEY>&field_key=title&field_type=dealField&term=novo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - db00b775-a0f2-4d99-973b-5c75fe481175
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"title":"Novo Negocio"},{"title":"0 - Novo
        Negocio"},{"title":"Novo Negocio (c\u00f3pia)"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 22:21:06 GMT
recorded_with: VCR 3.0.3
