---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"30 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e9a5afc9-b626-4b7f-933c-c5d286a5121f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12590,"key":"79fadc0756d5fd8d97df5705c27824b35736b96b","name":"30
        - New deal field","order_nr":142,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:54","update_time":"2017-09-14 22:16:54","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:54 GMT
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b8e7883f-8731-4e3c-8ee1-fddef8a9a4c0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Sep 2017 22:16:56 GMT
recorded_with: VCR 3.0.3
