---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/pushNotifications/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"subscription_url":"http://meuwebhook.com.br","event":"deleted.persons"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":21,"user_id":742863,"company_id":1051939,"subscription_url":"http:\/\/meuwebhook.com.br","type":"regular","event":"deleted.persons","http_auth_user":null,"http_auth_password":null,"add_time":"2016-07-16
        01:29:34","active_flag":true,"remove_time":null,"http_last_response_code":null}}'
  recorded_at: Sat, 16 Jul 2016 01:29:34 GMT
recorded_with: VCR 3.0.3
