---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/200?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":200}}'
  recorded_at: Tue, 19 Jul 2016 16:37:58 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/202?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":202}}'
  recorded_at: Tue, 19 Jul 2016 16:38:09 GMT
recorded_with: VCR 3.0.3
