---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"5 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c18ada8a-4092-4746-8a7f-8035def7c617
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":125,"order_nr":34,"name":"5 - Novo Produto","key_string":"5___novo_produto1","icon_key":"5
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:49","update_time":"2017-09-14 22:21:49"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:50 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"107,108,109,110,111,112,114,115,117,118,119,120,121,122,123,124,125,126"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 80feca9b-04b2-4d10-bba9-636528e4f846
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["107","108","109","110","111","112","114","115","117","118","119","120","121","122","123","124","125","126"]}}'
  recorded_at: Thu, 14 Sep 2017 22:21:53 GMT
recorded_with: VCR 3.0.3
