---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"58 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 2e2817eb-8d24-4dc8-867a-34c41318de46
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":99,"order_nr":27,"name":"58 - Novo Produto","key_string":"58___novo_produto1","icon_key":"58
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:57","update_time":"2017-09-14 21:40:57"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:57 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"87,88,89,90,92,93,95,96,97,98,99,100"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 28d926ff-8a7d-4e48-8417-89262974327b
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["87","88","89","90","92","93","95","96","97","98","99","100"]}}'
  recorded_at: Thu, 14 Sep 2017 21:40:59 GMT
recorded_with: VCR 3.0.3
