---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"23 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6cbef101-748b-4100-9a31-6ddd666d6db5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":77,"order_nr":23,"name":"23 - Novo Produto","key_string":"23___novo_produto1","icon_key":"23
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:41","update_time":"2017-09-14 21:21:41"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:42 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"67,68,69,70,72,73,75,76,77,78"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 78820301-72b6-4968-be60-1011e35421a3
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["67","68","69","70","72","73","75","76","77","78"]}}'
  recorded_at: Thu, 14 Sep 2017 21:21:43 GMT
recorded_with: VCR 3.0.3
