---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"91 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8e2bec5f-9549-48af-8bbc-c7e3a0a424a8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12570,"key":"796b35e93ed2f3f20a9ba5a4a0e280e501cce0f8","name":"91
        - New deal field","order_nr":122,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:19","update_time":"2017-09-14 21:39:19","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:20 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/12570?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c0ff1dd4-0dd6-41d3-8209-b72a396dd4c4
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12570}}'
  recorded_at: Thu, 14 Sep 2017 21:39:25 GMT
recorded_with: VCR 3.0.3
