---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/12527?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Field not found.","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Sat, 16 Jul 2016 13:59:28 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/12531?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12531}}'
  recorded_at: Sat, 16 Jul 2016 14:01:56 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/12555?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12555}}'
  recorded_at: Sat, 16 Jul 2016 19:48:02 GMT
recorded_with: VCR 3.0.3
