---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"65 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b4f7bce5-2a31-4f4f-8e84-78d55b7845b5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12552,"key":"5132c0677b3b858e4daa9faedd3c6c807651ad6e","name":"65
        - New deal field","order_nr":104,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:23:26","update_time":"2017-09-14 21:23:26","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:23:27 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/12552?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b4dd3e11-169f-402b-987e-a1acf5f73f52
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12552}}'
  recorded_at: Thu, 14 Sep 2017 21:23:28 GMT
recorded_with: VCR 3.0.3
