---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/deals/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 59840f76-6e9e-4358-ae65-4a470b48cf1a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:37:27 GMT
recorded_with: VCR 3.0.3
