---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - bed2efe4-0f1e-4f18-be79-baa3245f6e73
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal title must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:22:49 GMT
recorded_with: VCR 3.0.3
