---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal title must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Wed, 06 Jul 2016 20:12:11 GMT
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal title must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Fri, 08 Jul 2016 16:09:39 GMT
recorded_with: VCR 3.0.3
