---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activities/32?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":32,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":32,"company_id":1051939,"user_id":742863,"done":false,"type":"email","reference_type":"none","reference_id":null,"due_date":"2016-07-14","due_time":"","duration":"","add_time":"2016-07-14
        19:35:56","marked_as_done_time":"","subject":"Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":false,"update_time":"2016-07-14
        19:40:33","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"person_name":null,"org_name":null,"note":"","deal_title":null,"assigned_to_user_id":742863,"created_by_user_id":742863,"owner_name":"Felipe
        Borges Ferreira","person_dropbox_bcc":null,"deal_dropbox_bcc":null},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Jul 2016 19:40:33 GMT
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activities/33?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":33,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":33,"company_id":1051939,"user_id":742863,"done":false,"type":"email","reference_type":"none","reference_id":null,"due_date":"2016-07-14","due_time":"","duration":"","add_time":"2016-07-14
        19:35:57","marked_as_done_time":"","subject":"Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":false,"update_time":"2016-07-14
        19:41:20","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"person_name":null,"org_name":null,"note":"","deal_title":null,"assigned_to_user_id":742863,"created_by_user_id":742863,"owner_name":"Felipe
        Borges Ferreira","person_dropbox_bcc":null,"deal_dropbox_bcc":null},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Jul 2016 19:41:20 GMT
recorded_with: VCR 3.0.3
