---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 3575be6c-12a3-403c-8f4c-9607046d0d54
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Activity not found.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:38:39 GMT
recorded_with: VCR 3.0.3
