---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activities/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 908c3a3b-28a0-46e2-b602-81a15eee4144
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Activity not found.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:24:23 GMT
recorded_with: VCR 3.0.3
