---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/1?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1,"company_id":null,"order_nr":1,"name":"Ligar","key_string":"call","icon_key":"call","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2016-06-25
        11:35:41","update_time":null}}'
  recorded_at: Fri, 15 Jul 2016 11:33:03 GMT
recorded_with: VCR 3.0.3
