---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"61 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 22f8a57b-5ae1-4278-8ec9-8e978cd02b3d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":101,"order_nr":17,"name":"61 - Novo Produto","key_string":"61___novo_produto4","icon_key":"61
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:41:00","update_time":"2017-09-14 21:41:00"}}'
  recorded_at: Thu, 14 Sep 2017 21:41:00 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/101?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 89ccf36f-89f8-499e-8bfb-1efb7cda0a03
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":101,"order_nr":17,"name":"61 - Novo Produto","key_string":"61___novo_produto4","icon_key":"61
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:41:00","update_time":"2017-09-14 21:41:00"}}'
  recorded_at: Thu, 14 Sep 2017 21:41:01 GMT
recorded_with: VCR 3.0.3
