---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"52 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b734539a-8b27-4b9b-9ecc-658c4799e735
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":109,"order_nr":19,"name":"52 - Novo Produto","key_string":"52___novo_produto","icon_key":"52
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:19","update_time":"2017-09-14 22:21:19"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:19 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/109?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 5fcfd5f9-5dce-4314-b29d-e93f6cf5f20e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":109,"order_nr":19,"name":"52 - Novo Produto","key_string":"52___novo_produto","icon_key":"52
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:19","update_time":"2017-09-14 22:21:19"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:22 GMT
recorded_with: VCR 3.0.3
