---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/1?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1,"company_id":null,"order_nr":1,"name":"Ligar","key_string":"call","icon_key":"call","active_flag":false,"color":null,"is_custom_flag":false,"add_time":"2016-06-25
        11:35:41","update_time":"2016-07-19 12:53:07"}}'
  recorded_at: Tue, 19 Jul 2016 12:53:08 GMT
recorded_with: VCR 3.0.3
