---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"75 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ad57b722-3634-4991-9eb8-0039af57c773
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":83,"order_nr":19,"name":"75 - Novo Produto","key_string":"75___novo_produto3","icon_key":"75
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:49","update_time":"2017-09-14 21:21:49"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:49 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/83?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 06b6b8fc-afea-43ff-83c7-3e8f2c10e81e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":83,"order_nr":19,"name":"75 - Novo Produto","key_string":"75___novo_produto3","icon_key":"75
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:49","update_time":"2017-09-14 21:21:49"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:51 GMT
recorded_with: VCR 3.0.3
