---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"80 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":254,"company_id":null,"order_nr":39,"name":"80
        - Novo Produto","key_string":"80___novo_produto1","icon_key":"80 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:40:01","update_time":"2016-07-20 18:40:01"}}'
  recorded_at: Wed, 20 Jul 2016 18:40:01 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/254?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":254,"company_id":null,"order_nr":39,"name":"80
        - Novo Produto","key_string":"80___novo_produto1","icon_key":"80 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:40:01","update_time":"2016-07-20 18:40:01"}}'
  recorded_at: Wed, 20 Jul 2016 18:40:03 GMT
recorded_with: VCR 3.0.3
