---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/currencies/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8a89eb1d-645b-468a-b3de-8b8c32606135
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":2,"code":"AFN","name":"Afghanistan Afghani","decimal_points":2,"symbol":"AFN","active_flag":true,"is_custom_flag":false},{"id":3,"code":"ALL","name":"Albanian
        Lek","decimal_points":2,"symbol":"ALL","active_flag":true,"is_custom_flag":false},{"id":41,"code":"DZD","name":"Algerian
        Dinar","decimal_points":2,"symbol":"DZD","active_flag":true,"is_custom_flag":false},{"id":6,"code":"AOA","name":"Angolan
        Kwanza","decimal_points":2,"symbol":"AOA","active_flag":true,"is_custom_flag":false},{"id":7,"code":"ARS","name":"Argentine
        Peso","decimal_points":2,"symbol":"ARS","active_flag":tru[...]
