---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/200/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":200,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":55,"product_id":200,"add_time":"2016-07-19
        16:37:51"}}'
  recorded_at: Tue, 19 Jul 2016 16:37:53 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/200/followers/55?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":200,"user_id":55}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":55}}'
  recorded_at: Tue, 19 Jul 2016 16:37:54 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/202/followers/58?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":202,"user_id":58}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":58}}'
  recorded_at: Tue, 19 Jul 2016 16:38:11 GMT
recorded_with: VCR 3.0.3
