---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"77 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6fd4f6e9-ebb8-441f-aa8a-ed016d87521c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":254,"name":"77 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"7","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:43:40","update_time":"2017-09-14 21:43:40","prices":[{"id":259,"product_id":254,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:43:40 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/254/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":254,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8989d31f-a57d-432d-8fc5-d3b712a12905
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":12,"product_id":254,"add_time":"2017-09-14
        21:43:42"}}'
  recorded_at: Thu, 14 Sep 2017 21:43:42 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/254/followers/12?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":254,"user_id":12}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 3b1a3d2e-0371-48f2-9254-547a7c9c7112
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12}}'
  recorded_at: Thu, 14 Sep 2017 21:43:44 GMT
recorded_with: VCR 3.0.3
