---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/221/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":221,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":70,"product_id":221,"add_time":"2016-07-19
        17:06:34"}}'
  recorded_at: Tue, 19 Jul 2016 17:06:35 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/221/followers/70?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":221,"user_id":70}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":70}}'
  recorded_at: Tue, 19 Jul 2016 17:06:36 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/products/224/followers/73?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":224,"user_id":73}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":73}}'
  recorded_at: Tue, 19 Jul 2016 17:07:05 GMT
recorded_with: VCR 3.0.3
