---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"41 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":250,"company_id":null,"order_nr":49,"name":"41
        - Novo Produto","key_string":"41___novo_produto1","icon_key":"41 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:39:56","update_time":"2016-07-20 18:39:56"}}'
  recorded_at: Wed, 20 Jul 2016 18:39:56 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"color":"Not exists"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Could not save activity type. Possible reason:
        some information missing.","error_info":"Please check developers.pipedrive.com
        for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Wed, 20 Jul 2016 18:39:58 GMT
recorded_with: VCR 3.0.3
