---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1356?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1356}}'
  recorded_at: Tue, 19 Jul 2016 15:45:36 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1357?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1357}}'
  recorded_at: Tue, 19 Jul 2016 16:34:34 GMT
recorded_with: VCR 3.0.3
