---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/443?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":443}}'
  recorded_at: Wed, 06 Jul 2016 20:12:38 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/523?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":523}}'
  recorded_at: Fri, 08 Jul 2016 16:35:19 GMT
recorded_with: VCR 3.0.3
