---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1444?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1444}}'
  recorded_at: Tue, 19 Jul 2016 18:24:17 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1457?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1457}}'
  recorded_at: Tue, 19 Jul 2016 18:31:48 GMT
recorded_with: VCR 3.0.3
