---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1632?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1632}}'
  recorded_at: Sun, 24 Jul 2016 20:15:15 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/5?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 50acbcdc-5edd-43fc-bd45-a899a19b228d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":5}}'
  recorded_at: Fri, 18 Aug 2017 20:23:14 GMT
recorded_with: VCR 3.0.3
