---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/33?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - de49f797-1941-4262-b973-4f869fbfbe44
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":33}}'
  recorded_at: Thu, 14 Sep 2017 22:16:16 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/58?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 14bbdc7c-9a18-4fc2-80ba-c11507ed4e72
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":58}}'
  recorded_at: Thu, 14 Sep 2017 23:04:58 GMT
recorded_with: VCR 3.0.3
