---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1632?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1632}}'
  recorded_at: Sun, 24 Jul 2016 20:15:15 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1633?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1633}}'
  recorded_at: Sun, 24 Jul 2016 20:28:38 GMT
recorded_with: VCR 3.0.3
