---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/18?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 694a6cbb-df30-460d-9469-ec89cb00fc28
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":18}}'
  recorded_at: Thu, 14 Sep 2017 21:37:58 GMT
recorded_with: VCR 3.0.3
