---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/989?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":989}}'
  recorded_at: Thu, 14 Jul 2016 11:04:03 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/1185?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1185}}'
  recorded_at: Thu, 14 Jul 2016 21:43:42 GMT
recorded_with: VCR 3.0.3
