---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/290?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":290}}'
  recorded_at: Wed, 06 Jul 2016 17:15:07 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/355?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":355}}'
  recorded_at: Wed, 06 Jul 2016 18:02:21 GMT
recorded_with: VCR 3.0.3
