---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/deals/10?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 4fc9b620-aae9-405e-98e1-fdc2020e7009
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":10}}'
  recorded_at: Thu, 14 Sep 2017 21:22:59 GMT
recorded_with: VCR 3.0.3
