---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"82 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 42d669b7-1fb1-4313-9613-129ba416f03c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":207,"name":"82 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"8","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:41:56","update_time":"2017-09-14 21:41:56","prices":[{"id":211,"product_id":207,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:41:57 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/products/0/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 99fba824-0be0-4ff6-a3c2-1d761502ffb6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Product not found.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:41:59 GMT
recorded_with: VCR 3.0.3
