---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/files?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8c5cd68a-a12e-41d7-99a7-853c57eaf121
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:22:47 GMT
recorded_with: VCR 3.0.3
