---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/dealFields/12582/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Field not found.","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Tue, 19 Jul 2016 15:46:48 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/dealFields/12586/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12586,"key":"60fb0ff9c5d5c14bacd692b1857c3c64db5f7f99","name":"Other
        name","order_nr":144,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        15:47:06","update_time":"2016-07-19 15:47:09","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 15:47:11 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/dealFields/12588/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12588,"key":"b453fb8c6ae5f8ac5acd5d24a45621bc32104ccf","name":"Other
        name","order_nr":146,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        16:34:00","update_time":"2016-07-19 16:34:01","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 16:34:04 GMT
recorded_with: VCR 3.0.3
