---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activities/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a3e592f1-a452-44c6-81d0-0663e548805f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":20,"company_id":2037553,"user_id":742863,"done":false,"type":"call","reference_type":"none","reference_id":null,"due_date":"2017-09-14","due_time":"","duration":"","add_time":"2017-09-14
        21:38:26","marked_as_done_time":"","subject":"1 - Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":true,"update_time":"2017-09-14
        21:38:26","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"note":"","participants":null,"person_name":null,"org_name":null,"deal_title":null,"assigned_to_user_id":742863,"created_by_user_id":742863,"owner_name":"Felipe
        Borges Ferreira","person_dropbox_bcc":null,"deal_dropbox_bcc":null},{"id":21,"company_id":2037553,"user_id":742863,"done":false,"type":"call","reference_type":"none","reference_id":null,"due_date":"2017-09-14","due_time":"","duration":"","add_time":"2017-09-14
        21:38:33","marked_as_done_time":"","subject":"Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":true,"update_time":"2017-09-14
        21:38:33","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"note":"","participants":null,"person_name":nul[...]
