---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/77?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":77}}'
  recorded_at: Thu, 14 Jul 2016 21:33:50 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/178?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":178}}'
  recorded_at: Sat, 16 Jul 2016 19:47:33 GMT
recorded_with: VCR 3.0.3
