---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/32?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":32}}'
  recorded_at: Thu, 14 Jul 2016 19:40:29 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/33?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":33}}'
  recorded_at: Thu, 14 Jul 2016 19:41:18 GMT
recorded_with: VCR 3.0.3
