---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/260?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":260}}'
  recorded_at: Tue, 19 Jul 2016 18:25:19 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/308?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":308}}'
  recorded_at: Wed, 20 Jul 2016 18:41:32 GMT
recorded_with: VCR 3.0.3
