---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/7?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 99416368-fa2a-4924-bf9c-d19e29346ff3
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":7}}'
  recorded_at: Thu, 14 Sep 2017 21:24:32 GMT
recorded_with: VCR 3.0.3
