---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/19?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - edd29f36-92a7-4d95-aea2-4197eab2a855
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":19}}'
  recorded_at: Thu, 14 Sep 2017 21:38:40 GMT
recorded_with: VCR 3.0.3
