---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/260?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":260}}'
  recorded_at: Tue, 19 Jul 2016 18:25:19 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/4?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8858df8d-4d0a-4b49-9dc4-e891b51ccfa2
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":4}}'
  recorded_at: Fri, 18 Aug 2017 20:22:54 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/6?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 92358fed-4a10-446c-b6ad-866e48c1e935
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":6}}'
  recorded_at: Fri, 18 Aug 2017 20:26:41 GMT
recorded_with: VCR 3.0.3
