---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/37?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 780d252d-eb7d-4d79-88e4-12547fc4d6a5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":37}}'
  recorded_at: Thu, 14 Sep 2017 22:20:35 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/47?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 40adbbff-256a-431c-8e42-2209792ab644
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":47}}'
  recorded_at: Thu, 14 Sep 2017 23:04:38 GMT
recorded_with: VCR 3.0.3
