---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/products/find/?api_token=<API_KEY>&term=1%20-%20Novo%20Produto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":272,"variation_id":"0","name":"1 - Novo
        Produto","title":"1 - Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"},{"id":274,"variation_id":"0","name":"1
        - Novo Produto","title":"1 - Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 17:06:48 GMT
recorded_with: VCR 3.0.3
