---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"16 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":425,"name":"16 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"1","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2016-07-19
        18:22:44","update_time":"2016-07-19 18:22:44","prices":[{"id":435,"product_id":425,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Tue, 19 Jul 2016 18:22:44 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/products/find/?api_token=<API_KEY>&term=16%20-%20Novo%20Produto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":425,"variation_id":"0","name":"16 - Novo
        Produto","title":"16 - Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 18:22:46 GMT
recorded_with: VCR 3.0.3
