---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/products/find/?api_token=<API_KEY>&term=Novo%20Produto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":72,"variation_id":"0","name":"0 - Novo
        Produto","title":"0 - Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"},{"id":73,"variation_id":"0","name":"1
        - Novo Produto","title":"1 - Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"},{"id":69,"variation_id":"0","name":"Novo
        Produto","title":"Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"},{"id":74,"variation_id":"0","name":"Novo
        Produto","title":"Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"},{"id":75,"variation_id":"0","name":"Novo
        Produto","title":"Novo Produto","variation_name":"","price":0,"price_formatted":"R$0"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Tue, 19 Jul 2016 12:54:04 GMT
recorded_with: VCR 3.0.3
