---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 8c11082c-0cdb-4d0c-8ecc-c4f1ae56b2b6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '87'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: UTF-8
      string: '{"status":"ok","success":true,"data":[{"id":21000,"company_id":1968662,"admin_id":2876523,"user_id":2876523,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-08-18T20:21:24.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null},{"id":21001,"company_id":1968662,"admin_id":2876523,"user_id":2876523,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-08-18T20:21:25.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null},{"id":21002,"company_id":1968662,"admin_id":2876523,"user_id":2876523,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-08-18T20:21:44.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null},{"id":21003,"company_id":1968662,"admin_id":2876523,"user_id":2876523,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-08-18T20:21:45.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null}]}'
  recorded_at: Fri, 18 Aug 2017 20:21:46 GMT
recorded_with: VCR 3.0.3
