---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/webhooks/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - b4037f8b-aaa1-4c79-b2a6-c404432b3678
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: UTF-8
      string: '{"status":"ok","success":true,"data":[{"id":24461,"company_id":2037553,"admin_id":742863,"user_id":742863,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-09-14T21:22:24.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null},{"id":24462,"company_id":2037553,"admin_id":742863,"user_id":742863,"event_action":"added","event_object":"activity","subscription_url":"https://requestb.in/r995rnr9","is_active":1,"add_time":"2017-09-14T21:22:25.000Z","remove_time":null,"type":"general","http_auth_user":null,"http_auth_password":null,"additional_data":{},"last_delivery_time":null,"last_http_status":null}]}'
  recorded_at: Thu, 14 Sep 2017 21:22:27 GMT
recorded_with: VCR 3.0.3
