---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/10/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c162ed7c-7709-42b2-8873-1805b6487b07
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":12,"deal_id":10,"add_time":"2017-09-14
        18:56:35"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:23:02 GMT
recorded_with: VCR 3.0.3
