---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/18/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - d3f964f5-2b03-4e61-98e1-463c491bd882
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":21,"deal_id":18,"add_time":"2017-09-14
        21:07:59"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 21:37:41 GMT
recorded_with: VCR 3.0.3
