---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1632/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":2004,"deal_id":1632,"add_time":"2016-07-21
        17:06:39"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Sun, 24 Jul 2016 20:14:58 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/5/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 4f27dfdf-2f9b-4552-8ca0-1c6b4f0d9f87
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":2876523,"id":6,"deal_id":5,"add_time":"2017-08-18
        20:23:10"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Fri, 18 Aug 2017 20:23:16 GMT
recorded_with: VCR 3.0.3
