---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/290/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":290,"deal_id":290,"add_time":"2016-07-06
        17:15:03"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 06 Jul 2016 17:15:15 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/388/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":388,"deal_id":388,"add_time":"2016-07-06
        18:16:19"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 06 Jul 2016 18:16:23 GMT
recorded_with: VCR 3.0.3
