---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/989/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":1167,"deal_id":989,"add_time":"2016-07-14
        11:00:16"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 11:03:56 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/1185/followers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"id":1424,"deal_id":1185,"add_time":"2016-07-14
        21:43:28"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 21:43:38 GMT
recorded_with: VCR 3.0.3
