---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"45 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12707,"key":"d4172c63ff76f2f8ebf826135578fe52264af307","name":"45
        - New deal field","order_nr":263,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        18:24:47","update_time":"2016-07-19 18:24:47","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 18:24:48 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"12697,12698,12699,12700,12701,12702,12704,12706,12707"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["12697","12698","12699","12700","12701","12702","12704","12706","12707"]}}'
  recorded_at: Tue, 19 Jul 2016 18:24:53 GMT
recorded_with: VCR 3.0.3
