---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"12575,12576"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["12575","12576"]}}'
  recorded_at: Tue, 19 Jul 2016 12:52:51 GMT
recorded_with: VCR 3.0.3
