---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"5 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 06756083-d8cb-45b2-bed9-f39284e85fa5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12593,"key":"f08f50cb2864b5417314ca8ba1845b5666fef6fc","name":"5
        - New deal field","order_nr":145,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:17:02","update_time":"2017-09-14 22:17:02","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:17:02 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"12581,12582,12583,12584,12585,12586,12588,12590,12591,12592,12593"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9cf76478-aba8-4ea6-8d67-9bfd59846aec
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["12581","12582","12583","12584","12585","12586","12588","12590","12591","12592","12593"]}}'
  recorded_at: Thu, 14 Sep 2017 22:17:06 GMT
recorded_with: VCR 3.0.3
