---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"54 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - eebcb3ec-504f-4bce-9547-32fb751ce8fa
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12577,"key":"7a3339bbf7510f34da025c3a1bb68380834c6f05","name":"54
        - New deal field","order_nr":129,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:39","update_time":"2017-09-14 21:39:39","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:40 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"12566,12567,12568,12569,12570,12571,12572,12574,12576,12577"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b759adb3-0dee-4614-be9a-6c6299488c5d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["12566","12567","12568","12569","12570","12571","12572","12574","12576","12577"]}}'
  recorded_at: Thu, 14 Sep 2017 21:39:43 GMT
recorded_with: VCR 3.0.3
