---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/authorizations/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"email":"lypborges@gmail.com","password":"Bematech@2016"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"company_id":878791,"api_token":"817e6f1e0eb36f76be49a91b1991e7765a423d80","add_time":"2016-03-31
        22:23:57","company":{"info":{"id":878791,"name":"Hotel","creator_company_id":null,"plan_id":32,"identifier":"hotel","domain":"hotel","billing_currency":"USD","add_time":"2016-03-31
        22:21:01","status":"paying","trial_ends":"2016-04-30 22:21:01","cancelled_flag":false,"cancel_time":null,"country":"BR","promo_code":"hotel5","used_promo_code_key":null,"account_is_open":true,"account_is_not_paying":false},"features":["products","price_variations","product_duration","deal_rotting","gcal","g_contact_sync","google_drive","multiple_pipelines","mailbox","deal_details_beta","contact_details_beta","company_domain","auto_fill_person_pictures","activity_participants","activity_agenda","deal_list_api","reference_activities","activity_list_beta","optimized_filter_matching","global_search_subitems","stack_based_navi","webapp_model_sync_direct","email_contact_prefill","mailbox_v2_beta","new_statistics","web_forms","dynamic_fields_list_api","pd_metrics"],"settings":{"show_getting_started_video":true,"list_limit":100,"beta_app":true,"file_upload_destination":"s3","callto_link_syntax":"callto:015[number]","autofill_deal_expected_close_date":false,"person_duplicate_condition":"name
        && (org_id || email || phone)","organization_duplicate_condition":"name &&
        address","add_followers_when_importing":false,"search_backend":"elastic","billing_managed_by_sales":false,"max_deal_age_in_average_progress_calculation":90,"third_party_links":[],"elastic_write_target_during_migration":"","auto_create_new_persons_from_forwarder_emails":true,"company_advanced_debug_logs":false,"deal_block_order":[{"type":"detail","visible":true},{"type":"organization","visible":true},{"type":"person","visible":true},{"type":"participant","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true}],"person_block_order":[{"type":"detail","visible":true},{"type":"organization","visible":true},{"type":"deal","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true}],"organization_block_order":[{"type":"detail","visible":true},{"type":"people","visible":true},{"type":"deal","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true},{"type":"related_organizations","visible":true}],"nylas_sync":false}}},{"user_id":742863,"company_id":1051939,"api_token":"<API_KEY>","add_time":"2016-06-25
        19:12:06","company":{"info":{"id":1051939,"name":"SandBox","creator_company_id":878791,"plan_id":32,"identifier":"prepared-tray","domain":"prepared-tray","billing_currency":"USD","add_time":"2016-06-25
        19:11:55","status":"in_trial","trial_ends":"2016-07-25 19:11:55","cancelled_flag":false,"cancel_time":null,"country":"BR","promo_code":"preparedtray","used_promo_code_key":null,"account_i[...]
