---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/authorizations/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"email":"lypborges@gmail.com","password":"Lyp03571827"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 64cb99b0-4dbc-488b-98b3-6b925c0ec320
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"user_id":742863,"company_id":878791,"api_token":"817e6f1e0eb36f76be49a91b1991e7765a423d80","add_time":"2016-03-31
        22:23:57","company":{"info":{"id":878791,"name":"Hotel","creator_company_id":null,"plan_id":32,"identifier":"hotel","domain":"hotel","billing_currency":"USD","add_time":"2016-03-31
        22:21:01","status":"paying","trial_ends":"2016-04-30 22:21:01","cancelled_flag":false,"cancel_time":null,"country":"BR","promo_code":"hotel5","used_promo_code_key":null,"account_is_open":true,"account_is_not_paying":false},"features":["products","deal_rotting","gcal","g_contact_sync","google_drive","mailbox","contact_details_beta","company_domain","calendar_prototype","optimized_filter_matching","global_search_subitems","email_contact_prefill","new_statistics","new_statistics_dashboard","web_forms","slack_app","scheduler","use_new_stage_log","tabbed_payment","ab_mail_promotion1","new_address_converter","intercom_support_chat","mailbox_v2_beta","fe_tabbed_search"],"settings":{"show_getting_started_video":true,"list_limit":100,"beta_app":true,"file_upload_destination":"s3","callto_link_syntax":"callto:015[number]","autofill_deal_expected_close_date":false,"person_duplicate_condition":"name
        && (org_id || email || phone)","organization_duplicate_condition":"name &&
        address","add_followers_when_importing":false,"search_backend":"elastic2","billing_managed_by_sales":false,"max_deal_age_in_average_progress_calculation":90,"third_party_links":[],"elastic_write_target_during_migration":"","auto_create_new_persons_from_forwarder_emails":true,"company_advanced_debug_logs":false,"deal_block_order":[{"type":"detail","visible":true},{"type":"organization","visible":true},{"type":"person","visible":true},{"type":"participant","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true}],"person_block_order":[{"type":"detail","visible":true},{"type":"organization","visible":true},{"type":"deal","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true}],"organization_block_order":[{"type":"detail","visible":true},{"type":"people","visible":true},{"type":"deal","visible":true},{"type":"overview","visible":true},{"type":"follower","visible":true},{"type":"forwarder","visible":true},{"type":"related_organizations","visible":true}],"nylas_sync":false,"onboarding_complete":true}}},{"user_id":742863,"company_id":2037553,"api_token":"<API_KEY>","add_time":"2017-09-14
        18:36:31","company":{"info":{"id":2037553,"name":"Sample Test","creator_company_id":878791,"plan_id":32,"identifier":"sampletest","domain":"sampletest","billing_currency":"USD","add_time":"2017-09-14
        18:36:20","status":"in_trial","trial_ends":"2017-09-28 18:36:20","cancelled_flag":false,"cancel_time":null,"country":"BR","promo_code":"sampletest2","used_promo_code_key":null,"account_is_op[...]
