---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/742/permittedUsers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[742863],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Sat, 09 Jul 2016 22:52:19 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/https://api.pipedrive.com/v1/deals/870/permittedUsers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Jul 2016 07:07:21 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/906/permittedUsers?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[742863],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Jul 2016 07:27:47 GMT
recorded_with: VCR 3.0.3
