---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"19,20"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - cdfaeb0f-cc47-444e-be5c-ee6e5d22a54e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["19","20"]}}'
  recorded_at: Thu, 14 Sep 2017 21:38:48 GMT
recorded_with: VCR 3.0.3
