---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"15,16"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 2063a6d2-a690-4161-971b-0430a76233f4
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["15","16"]}}'
  recorded_at: Thu, 14 Sep 2017 21:24:28 GMT
recorded_with: VCR 3.0.3
