---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activities/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"ids":"37,38"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 4bf36a14-3359-45a8-85ba-8c26b658c125
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":["37","38"]}}'
  recorded_at: Thu, 14 Sep 2017 22:20:38 GMT
recorded_with: VCR 3.0.3
