---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"74 - Novo Produto"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 12f6aa21-a296-4f4e-a7d7-b20c30efc3e3
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":193,"name":"74 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"7","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:20:34","update_time":"2017-09-14 21:20:34","prices":[{"id":197,"product_id":193,"price":0,"currency":"BRL","cost":0,"overhead_cost":0}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:20:33 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/products/193/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ef0124fd-8f04-45e1-b899-36d8ca9ef588
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":193,"name":"74 - Novo Produto","code":null,"unit":null,"tax":0,"active_flag":true,"selectable":true,"first_char":"7","visible_to":"3","owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"files_count":null,"followers_count":0,"add_time":"2017-09-14
        21:20:34","update_time":"2017-09-14 21:20:34","prices":[{"id":197,"product_id":193,"price":0,"currency":"BRL","cost":0,"overhead_cost":0,"price_formatted":"R$0"}]},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:20:35 GMT
recorded_with: VCR 3.0.3
