---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/webhooks/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 18b6fcee-6478-4a11-857a-10011f1bcff8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '83'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"id":["not found"]}}'
  recorded_at: Fri, 18 Aug 2017 20:21:48 GMT
recorded_with: VCR 3.0.3
