---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/webhooks/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - fa36eb63-b90a-46da-8c6e-e946bdd83035
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"id":["not found"]}}'
  recorded_at: Thu, 14 Sep 2017 22:17:25 GMT
recorded_with: VCR 3.0.3
