---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/webhooks/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Correlation-Id:
      - 30cb0a1e-b812-4731-8a44-6f853a5d266e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"status":"error","success":false,"errors":{"id":["not found"]}}'
  recorded_at: Thu, 14 Sep 2017 21:22:23 GMT
recorded_with: VCR 3.0.3
