---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/18/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a5ded30b-2dba-4740-a0d5-dc16bed354f6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":18,"creator_user_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"user_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"person_id":null,"org_id":null,"stage_id":1,"title":"Novo
        Negocio","value":0,"currency":"BRL","add_time":"2017-09-14 21:07:59","update_time":"2017-09-14
        21:07:59","stage_change_time":null,"active":true,"deleted":false,"status":"open","next_activity_date":null,"next_activity_time":null,"next_activity_id":null,"last_activity_id":null,"last_activity_date":null,"lost_reason":null,"visible_to":"3","close_time":null,"pipeline_id":1,"won_time":null,"first_won_time":null,"lost_time":null,"products_count":0,"files_count":0,"notes_count":0,"followers_count":1,"email_messages_count":0,"activities_count":0,"done_activities_count":0,"undone_activities_count":0,"reference_activities_count":0,"participants_count":0,"expected_close_date":null,"last_incoming_mail_time":null,"last_outgoing_mail_time":null,"26f3b1fb1d7cf5bb2f1842c0d1a14b07160dcbd5":null,"f27def360859c67830732851e849d101f3d20f56":null,"5e6e7db3c329b31e7005a86ec96c1a931ce4465c":null,"0cd6ce87bfd8842018010bd7c67dd2b4aa615952":null,"188fb5abca61d3fb9fcf03718f78d587dfe6de30":null,"d2a40aab8ffaa86f7aa5857be9505f0ea09ae829":null,"49b4f2d88f02c5e8a37f23cc01f65815d7864662":null,"1c7269023185d8b0349d0cb9337d7a1a92f1ac8e":null,"d8f2e98799fa223092c0fc384e7485dfb584f7ea":null,"f727fa8fd7dc53b44e6387c1253b038a0190a217":null,"ec436fee1ece57f040e11faa1a05f003835c44f8":null,"878539c1aeaef91ca91dd365283ad3fa28dc3d28":null,"stage_order_nr":1,"person_name":null,"org_name":null,"next_activity_subject":null,"next_activity_type":null,"next_activity_duration":null,"next_activity_note":null,"formatted_value":"R$0","rotten_time":null,"weighted_value":0,"formatted_weighted_value":"R$0","owner_name":"Felipe
        Borges Ferreira","cc_email":"sampletest+deal18@pipedrivemail.com","org_hidden":false,"person_hidden":false,"average_time_to_won":{"y":0,"m":0,"d":0,"h":0,"i":0,"s":0,"total_seconds":0},"average_stage_progress":0,"age":{"y":0,"m":0,"d":0,"h":0,"i":29,"s":21,"total_seconds":1761},"stay_in_pipeline_stages":{"times_in_stages":{"1":1761},"order_of_stages":[1]},"last_activity":null,"next_activity":null},"additional_data":{"dropbox_email":"sampletest+deal18@pipedrivemail.com"},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Sep 2017 21:37:20 GMT
recorded_with: VCR 3.0.3
