---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 95148fe8-0ef9-438f-81c2-b8295a23fae3
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:37:21 GMT
recorded_with: VCR 3.0.3
