---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 4ee5dc34-8f5d-4f90-bd1b-dd1a32e7a44d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 22:16:03 GMT
recorded_with: VCR 3.0.3
