---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals/443/duplicate?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":447,"creator_user_id":742863,"user_id":742863,"person_id":null,"org_id":null,"stage_id":1,"title":"Novo
        Negocio (c\u00f3pia)","value":835,"currency":"BRL","add_time":"2016-07-06
        20:12:47","update_time":null,"stage_change_time":null,"active":false,"deleted":true,"status":"deleted","next_activity_date":null,"next_activity_time":null,"next_activity_id":null,"last_activity_id":null,"last_activity_date":null,"lost_reason":null,"visible_to":"3","close_time":"2016-07-06
        20:12:38","pipeline_id":1,"won_time":null,"first_won_time":null,"lost_time":null,"products_count":null,"files_count":null,"notes_count":0,"followers_count":0,"email_messages_count":null,"activities_count":null,"done_activities_count":null,"undone_activities_count":null,"reference_activities_count":null,"participants_count":0,"expected_close_date":null,"stage_order_nr":1,"person_name":null,"org_name":null,"next_activity_subject":null,"next_activity_type":null,"next_activity_duration":null,"next_activity_note":null,"formatted_value":"R$835","rotten_time":null,"weighted_value":835,"formatted_weighted_value":"R$835","owner_name":"Felipe
        Borges Ferreira","cc_email":"prepared-tray+deal447@pipedrivemail.com","org_hidden":false,"person_hidden":false}}'
  recorded_at: Wed, 06 Jul 2016 20:12:48 GMT
[...]
