---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"47 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":238,"company_id":null,"order_nr":37,"name":"47
        - Novo Produto","key_string":"47___novo_produto2","icon_key":"47 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:39:43","update_time":"2016-07-20 18:39:43"}}'
  recorded_at: Wed, 20 Jul 2016 18:39:43 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activityTypes?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":1,"order_nr":1,"nam[...]
[...]
