---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activityTypes?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":1,"order_nr":1,"name":"Ligar","key_string":"call","icon_key":"call","active_flag":false,"color":null,"is_custom_flag":false,"add_time":"2016-06-25
        11:35:41","update_time":"2016-07-15 11:33:07"},{"id":2,"order_nr":1,"name":"Reuni\u00e3o","key_string":"meeting","icon_key":"meeting","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2016-06-25
        11:35:41","update_time":"2016-07-15 11:33:05"},{"id":3,"order_nr":2,"name":"Tarefa","key_string":"task","icon_key":"task","active_flag":true,"color":null,"is_custom_flag":false,"add_time":"2016-06-25
        11:35:41","update_time":"2016-07-15 11:33:05"},{"id":4,"order_nr":3,"name":"Prazo","key_string":[...]
