---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"20 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 776128b5-507d-437a-b87f-cbd4bcba10e1
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":105,"order_nr":20,"name":"20 - Novo Produto","key_string":"20___novo_produto1","icon_key":"20
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:41:11","update_time":"2017-09-14 21:41:11"}}'
  recorded_at: Thu, 14 Sep 2017 21:41:11 GMT
[...]
