---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/organizations/1?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":1,"company_id":1051939,"owner_id":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true,"value":742863},"name":"New
        Named","open_deals_count":0,"closed_deals_count":null,"email_messages_count":0,"people_count":1,"activities_count":1,"done_activities_count":0,"undone_activities_count":1,"reference_activities_count":0,"files_count":null,"notes_count":0,"followers_count":1,"won_deals_count":0,"lost_deals_count":0,"active_flag":true,"category_id":null,"picture_id":null,"country_code":null,"first_char":"n","update_time":"2016-07-14
        11:03:41","add_time":"2016-06-30 12:23:37","visible_to":"3","next_activity_date":"2016-07-04","next_activity_time":null,"next_activity_id":1,"last_activity_id":null,"last_activity_date":null,"address":null,"address_subpremise":null,"address_street_number":null,"address_route":null,"address_sublocality":null,"address_locality":null,"address_admin_area_level_1":null,"address_admin_area_level_2":null,"address_country":null,"address_postal_code":null,"address_formatted_address":null,"cc_email":"prepared-tray@pipedrivemail.com","owner_name":"Felipe
        Borges Ferreira","edit_name":true,"last_activity":null,"next_activity":{"id":1,"company_id":1051939,"user_id":742863,"done":false,"type":"call","reference_type":"none","reference_id":null,"due_date":"2016-07-04","due_time":"","duration":"","add_time":"2016-07-04
        19:57:32","marked_as_done_time":"","subject":"Vender","deal_id":1,"org_id":1,"person_id":1,"active_flag":true,"update_time":"2016-07-04
        19:57:32","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"person_name":"Steve
        Jobs","org_name":"New Named","note":"","deal_title":"PipedriveRuby ;)","assigned_to_user_id":742863,"created_by_user_id":742863,"owner_name":"Felipe
        Borges Ferreira","person_dropbox_bcc":"prepared-tray@pipedrivemail.com","deal_dropbox_bcc":"prepared-tray+deal1@pipedrivemail.com"}},"additional_data":{"followers":{"742863":{"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","user_id":742863,"has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","id":1}},"dropbox_email":"prepared-tray@pipedrivemail.com"},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Thu, 14 Jul 2016 11:03:42 GMT
recorded_with: VCR 3.0.3
