---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/find/?api_token=<API_KEY>&term=Novo%20Negocio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":1633,"title":"Novo Negocio","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$0","cc_email":"prepared-tray+deal1633@pipedrivemail.com"},{"id":1647,"title":"Novo
        Negocio","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$0","cc_email":"prepared-tray+deal1647@pipedrivemail.com"},{"id":1641,"title":"Novo
        Negocio","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"organization_name"[...]
