---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/find/?api_token=<API_KEY>&term=Novo%20Negocio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":444,"title":"Novo Negocio","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$0","cc_email":"prepared-tray+deal444@pipedrivemail.com"},{"id":445,"title":"0
        - Novo Negocio","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$0","cc_email":"prepared-tray+deal445@pipedrivemail.com"},{"id":446,"title":"1
        - Novo Negocio","user_id":742863,"visible_to":"3","status":"open","value":835,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$835","cc_email":"prepared-tray+deal446@pipedrivemail.com"}],"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 06 Jul 2016 20:12:51 GMT
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/https://api.pipedrive.com/v1/deals/find/?api_token=<API_KEY>&term=0%20-%20Novo%20Negocio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Jul 2016 07:07:17 GMT
recorded_with: VCR 3.0.3
