---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/find/?api_token=<API_KEY>&term=Novo%20Negocio
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a0ddd3ee-7ce5-4cbb-842b-e3eb33496677
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":18,"title":"Novo Negocio","user_id":742863,"visible_to":"3","status":"open","value":349,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$349","cc_email":"sampletest+deal18@pipedrivemail.com"},{"id":32,"title":"Novo
        Negocio (c\u00f3pia)","user_id":742863,"visible_to":"3","status":"open","value":349,"currency":"BRL","person_name":null,"person_id":null,"organization_name":null,"organization_id":null,"formatted_value":"R$349","cc_email":"sampletest+deal32@pipedrivemail.com"},{"id":27,"title":"Novo
        Negocio (c\u00f3pia)","user_id":742863,"visible_to":"3","status":"open","value":0,"currency":"BRL","person_name":null,"person_id":null,"or[...]
