---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activities/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"type":"Not exists"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 422c47a6-c5a0-4006-987f-e62a60c74b09
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Activity could not be created.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:24:27 GMT
recorded_with: VCR 3.0.3
