---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/find/?api_token=<API_KEY>&term=not%20exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 30b926f9-c223-4e56-bbe7-b1a33ca7906e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Thu, 14 Sep 2017 22:15:57 GMT
recorded_with: VCR 3.0.3
