---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/pushNotifications/18?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":18}}'
  recorded_at: Sat, 16 Jul 2016 01:29:32 GMT
recorded_with: VCR 3.0.3
