---
http_interactions:
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/pushNotifications/156?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":156}}'
  recorded_at: Tue, 19 Jul 2016 18:22:14 GMT
recorded_with: VCR 3.0.3
