---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/290/activities?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"activity_distribution":false,"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 06 Jul 2016 17:15:11 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/355/activities?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":null,"additional_data":{"activity_distribution":false,"pagination":{"start":0,"limit":100,"more_items_in_collection":false}}}'
  recorded_at: Wed, 06 Jul 2016 18:02:20 GMT
recorded_with: VCR 3.0.3
