---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"9 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":256,"company_id":null,"order_nr":40,"name":"9
        - Novo Produto","key_string":"9___novo_produto","icon_key":"9 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:40:03","update_time":"2016-07-20 18:40:03"}}'
  recorded_at: Wed, 20 Jul 2016 18:40:04 GMT
[...]
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/activityTypes/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"ActivityType not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Wed, 20 Jul 2016 18:40:05 GMT
recorded_with: VCR 3.0.3
