---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activityFields?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":1,"key":"id","name":"ID","order_nr":1,"picklist_data":null,"field_type":"int","add_time":"2016-06-25
        11:35:42","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"mandatory_flag":true},{"id":2,"key":"subject","name":"Assunto","order_nr":2,"picklist_data":null,"field_type":"varchar","add_time":"2016-06-25
        11:35:42","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":true},{"id":3,"key":"type","name":"Tipo","order_nr":3,"field_type":"enum","add_time":"2016-06-25
        11:35:42","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"options":[{"id":"call","label":"Ligar"},{"id":"meeting","label":"Reuni\u00e3o"},{"id":"task","label":"Tarefa"},{"id":"deadline","label":"Prazo"},{"id":"email","label":"E-mail"},{"id":"lunch","label":"Almo\u00e7o"}],"mandatory_flag":true},{"id":4,"key":"done","name":"Conclu\u00edda","order_nr":4,"field_type":"enum","add_time":"2016-06-25
        11:35:42","update_time":"2016-06-25 11:35:30","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false[...]
