---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activityFields/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 991ad063-d55a-4d09-ae14-b067f4f72bb8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"id":1,"key":"id","name":"ID","order_nr":1,"picklist_data":null,"field_type":"int","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":false,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":false,"mandatory_flag":true},{"id":2,"key":"subject","name":"Assunto","order_nr":2,"picklist_data":null,"field_type":"varchar","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":true},{"id":3,"key":"type","name":"Tipo","order_nr":3,"field_type":"enum","add_time":"2017-09-14
        17:07:04","update_time":"2017-09-14 17:06:57","active_flag":true,"edit_flag":false,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":false,"important_flag":false,"bulk_edit_allowed":true,"options":[{"id":"call","label":"Ligar"},{"id":"meeting","label":"Reuni\u00e3o"},{"id":"task","label":"Tarefa"},{"id":"deadline","label":"Prazo"},{"id":"email","label":"E-mail"},{"id":"lunch","label":"Almo\u00e7o"},{"id":"new_activity_type","label":"New
        Activity_type"},{"id":"new_activity_type1","label":"New Activity_type"},{"id":"new_activity_type2","label":"New
        Activity_type"},{"id":"new_activity_type3","label":"New Activity_type"},{"id":"new_activity_type4","label":"New
        Activity_type"},{"id":"new_activity_type5","label":"New Activity_type"},{"id":"new_activity_type6","label":"New
        Activity_type"},{"id":"new_activity_type7","label":"New Activity_type"},{"id":"new_activity_type8","label":"New
        Activity_type"},{"id":"new_activity_type9","label":"New Activity_type"}],"options_deleted":[{"id":"32___novo_produto","label":"32
        - Novo Produto"},{"id":"22___novo_produto","label":"22 - Novo Produto"},{"id":"41___novo_produto","label":"41
        - Novo Produto"},{"id":"73___novo_produto","label":"73 - Novo Produto"},{"id":"78___novo_produto","label":"78
        - Novo Produto"},{"id":"6___novo_produto","label":"6 - Novo Produto"},{"id":"24___novo_produto","label":"24
        - Novo Produto"},{"id":"74___novo_produto","label":"74 - Novo Produto"},{"id":"2___novo_produto","lab[...]
