---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activities/260/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":260,"company_id":1051939,"user_id":742863,"done":false,"type":"call","reference_type":"none","reference_id":null,"due_date":"2016-07-19","due_time":"","duration":"","add_time":"2016-07-19
        17:51:55","marked_as_done_time":"","subject":"Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":false,"update_time":"2016-07-19
        18:25:19","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"person_name":null,"org_name":null,"note":"","deal_title":null,"assigned_to_user_id":742863,"created_by_user_id":742863,"owner_name":"Felipe
        Borges Ferreira","person_dropbox_bcc":null,"deal_dropbox_bcc":null},"related_objects":{"user":{"742863":{"id":742863,"name":"Felipe
        Borges Ferreira","email":"lypborges@gmail.com","has_pic":true,"pic_hash":"bfccbfcd721e34fd60c0851a2fd27332","active_flag":true}}}}'
  recorded_at: Tue, 19 Jul 2016 18:25:22 GMT
[...]
- request:
    method: get
    uri: https://api.pipedrive.com/v1/activities/4/?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - fec0b144-3329-4249-9cd2-3c2c1849c443
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":4,"company_id":1968662,"user_id":2876523,"done":false,"type":"email","reference_type":"none","reference_id":null,"due_date":"2017-08-18","due_time":"","duration":"","add_time":"2017-08-18
        20:22:51","marked_as_done_time":"","subject":"0 - Nova Atividade","deal_id":null,"org_id":null,"person_id":null,"active_flag":false,"update_time":"2017-08-18
        20:22:54","gcal_event_id":null,"google_calendar_id":null,"google_calendar_etag":null,"note":"","participants":null,"person_name":null,"org_name":null,"deal_title":null,"assigned_to_user_id":2876523,"created_by_user_id":2876523,"owner_name":"Eduardo
        Hertz","person_dropbox_bcc":null,"deal_dropbox_bcc":null},"related_objects":{"user":{"2876523":{"id":2876523,"name":"Eduardo
        Hertz","email":"eduardo.hertz@myfreecomm.com.br","has_pic":true,"pic_hash":"22c0479868f91c939f3f1c860fd1b757","active_flag":true}}}}'
  recorded_at: Fri, 18 Aug 2017 20:22:55 GMT
recorded_with: VCR 3.0.3
