---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"73 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 1d3cf263-eaf0-4a91-a3ad-0a99a68edffd
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":95,"order_nr":23,"name":"73 - Novo Produto","key_string":"73___novo_produto1","icon_key":"73
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:49","update_time":"2017-09-14 21:40:49"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:49 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/95?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":95,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c7d21909-7ce6-4a35-bfa6-37870035155a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":95,"order_nr":23,"name":"73 - Novo Produto","key_string":"73___novo_produto1","icon_key":"73
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:49","update_time":"2017-09-14 21:40:51"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:51 GMT
recorded_with: VCR 3.0.3
