---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"6 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 16449bcf-c157-415e-91fb-af33fe2dad47
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":81,"order_nr":17,"name":"6 - Novo Produto","key_string":"6___novo_produto3","icon_key":"6
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:47","update_time":"2017-09-14 21:21:47"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:47 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/81?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":81,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 64d81f4a-46d8-4b8b-9fe6-a6ebd4715d41
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":81,"order_nr":17,"name":"6 - Novo Produto","key_string":"6___novo_produto3","icon_key":"6
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:47","update_time":"2017-09-14 21:21:48"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:48 GMT
recorded_with: VCR 3.0.3
