---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"92 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8a427dad-d78a-49cd-9862-4df6b8f094de
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":121,"order_nr":30,"name":"92 - Novo Produto","key_string":"92___novo_produto","icon_key":"92
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:41","update_time":"2017-09-14 22:21:41"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:41 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/121?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":121,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - de73baf1-813d-441b-8672-655ab64bd04c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":121,"order_nr":30,"name":"92 - Novo Produto","key_string":"92___novo_produto","icon_key":"92
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:41","update_time":"2017-09-14 22:21:44"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:45 GMT
recorded_with: VCR 3.0.3
