---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"33 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":240,"company_id":null,"order_nr":39,"name":"33
        - Novo Produto","key_string":"33___novo_produto","icon_key":"33 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:39:46","update_time":"2016-07-20 18:39:46"}}'
  recorded_at: Wed, 20 Jul 2016 18:39:46 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/240?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":240,"type":"email"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":240,"company_id":null,"order_nr":39,"name":"33
        - Novo Produto","key_string":"33___novo_produto","icon_key":"33 - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-20
        18:39:46","update_time":"2016-07-20 18:39:47"}}'
  recorded_at: Wed, 20 Jul 2016 18:39:48 GMT
recorded_with: VCR 3.0.3
