---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/authorizations/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"email":"any@anyhost.com","password":"000000"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 9cf5258e-c43a-4ccf-b9ac-36af0de96bb6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Wrong email\/password combination.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:38:53 GMT
recorded_with: VCR 3.0.3
