---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"65 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - d0e87acc-80a2-4c30-8a5c-03d02f329f9d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":114,"order_nr":23,"name":"65 - Novo Produto","key_string":"65___novo_produto1","icon_key":"65
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:28","update_time":"2017-09-14 22:21:28"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:28 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 955993da-c114-4a89-a020-5f0d33092041
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":116,"order_nr":25,"name":"New Activity_type","key_string":"new_activity_type11","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:31","update_time":"2017-09-14 22:21:31"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:31 GMT
recorded_with: VCR 3.0.3
