---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"62 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e0a9f49e-321e-48f5-8b47-af32cd732cc0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":92,"order_nr":20,"name":"62 - Novo Produto","key_string":"62___novo_produto1","icon_key":"62
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:42","update_time":"2017-09-14 21:40:42"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:42 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - a14a9a43-66f9-47e1-85ac-9006b849e871
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":94,"order_nr":22,"name":"New Activity_type","key_string":"new_activity_type9","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:48","update_time":"2017-09-14 21:40:48"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:48 GMT
recorded_with: VCR 3.0.3
