---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"33 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 7cc1237f-50b3-435b-8eb8-82e8130f4a5a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '88'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":69,"order_nr":15,"name":"33 - Novo Produto","key_string":"33___novo_produto","icon_key":"33
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:33","update_time":"2017-09-14 21:21:33"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:32 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 8be23ef6-fcc3-4cb2-9602-7f1ed84f233a
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":71,"order_nr":17,"name":"New Activity_type","key_string":"new_activity_type6","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:35","update_time":"2017-09-14 21:21:35"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:35 GMT
recorded_with: VCR 3.0.3
