---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"56 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6f5bb786-6d36-456d-8dfb-4660d39ad84b
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":72,"order_nr":18,"name":"56 - Novo Produto","key_string":"56___novo_produto1","icon_key":"56
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:36","update_time":"2017-09-14 21:21:36"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:36 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 1c7c39c0-da55-4eb2-8eef-28ce297980a8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":74,"order_nr":20,"name":"New Activity_type","key_string":"new_activity_type7","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:38","update_time":"2017-09-14 21:21:38"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:38 GMT
recorded_with: VCR 3.0.3
