---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":112,"company_id":null,"order_nr":11,"name":"New
        Activity_type","key_string":"new_activity_type7","icon_key":"new activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2016-07-19
        12:53:03","update_time":"2016-07-19 12:53:03"}}'
  recorded_at: Tue, 19 Jul 2016 12:53:04 GMT
recorded_with: VCR 3.0.3
