---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"70 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6b2cc5fe-3757-4d1c-a820-511b2d090ee6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":111,"order_nr":20,"name":"70 - Novo Produto","key_string":"70___novo_produto2","icon_key":"70
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:24","update_time":"2017-09-14 22:21:24"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:24 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - c2ded573-0ec4-48f5-937b-782754caec9b
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":113,"order_nr":22,"name":"New Activity_type","key_string":"new_activity_type10","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        22:21:27","update_time":"2017-09-14 22:21:27"}}'
  recorded_at: Thu, 14 Sep 2017 22:21:27 GMT
recorded_with: VCR 3.0.3
