---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"43 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 515ac4d2-d737-4365-b581-ed9ddadd550e
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":89,"order_nr":17,"name":"43 - Novo Produto","key_string":"43___novo_produto","icon_key":"43
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:39","update_time":"2017-09-14 21:40:39"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:39 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"New Activity_type","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 043b845f-beea-404b-abd5-ae37d6879e6c
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":91,"order_nr":19,"name":"New Activity_type","key_string":"new_activity_type8","icon_key":"new
        activity_type","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:41","update_time":"2017-09-14 21:40:41"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:41 GMT
recorded_with: VCR 3.0.3
