---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12528?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12528,"key":"2378a3c1a1ae5dd5ce4047c5678172d75d0235bf","name":"Other
        name","order_nr":86,"picklist_data":null,"field_type":"text","add_time":"2016-07-16
        13:59:20","update_time":"2016-07-16 13:59:20","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Field not found.","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Sat, 16 Jul 2016 13:59:30 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12556?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12556,"key":"e89d4e9a520ae03994abdd6e6bc0a64df0913f3d","name":"Other
        name","order_nr":114,"picklist_data":null,"field_type":"text","add_time":"2016-07-16
        19:47:59","update_time":"2016-07-16 19:47:59","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12556,"key":"e89d4e9a520ae03994abdd6e6bc0a64df0913f3d","name":"Other
        name","order_nr":114,"picklist_data":null,"field_type":"text","add_time":"2016-07-16
        19:47:59","update_time":"2016-07-16 19:48:02","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Sat, 16 Jul 2016 19:48:03 GMT
recorded_with: VCR 3.0.3
