---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"12 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - ffa82d4a-889c-4898-a70f-aac6a95658ff
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12556,"key":"be40ce0ad1b4400c2b19b8ebe1beb188c376890e","name":"12
        - New deal field","order_nr":108,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:23:40","update_time":"2017-09-14 21:23:40","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:23:40 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12557?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12557,"key":"fb9e8cf6b0e6cad0f9199eb95b68bbd0e53d0bd2","name":"10
        - New deal field","order_nr":109,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:23:42","update_time":"2017-09-14 21:23:42","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"impor[...]
