---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"10 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 62441e86-6569-484c-abb9-bd3a737d32d3
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12578,"key":"74ed44f73ca9603a663c049bf9b291831d5f0a94","name":"10
        - New deal field","order_nr":130,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:44","update_time":"2017-09-14 21:39:44","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:44 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12579?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12579,"key":"e003afce965e85262cb59b415fe37d8bb31fe96d","name":"37
        - New deal field","order_nr":131,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:46","update_time":"2017-09-14 21:39:46","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"impor[...]
