---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12580?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12580,"key":"7ccad368c8213740996dd1f60392f60e41f06463","name":"Other
        name","order_nr":138,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        12:56:49","update_time":"2016-07-19 12:56:49","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12580,"key":"7ccad368c8213740996dd1f60392f60e41f06463","name":"Other
        name","order_nr":138,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        12:56:49","update_time":"2016-07-19 12:56:51","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 12:56:51 GMT
recorded_with: VCR 3.0.3
