---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"67 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 06f2348e-f531-42b6-be1b-0ee08a844808
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12591,"key":"c00f6ec3c9c8f487ef13903e4c1a80b71a24f71c","name":"67
        - New deal field","order_nr":143,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:57","update_time":"2017-09-14 22:16:57","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 22:16:57 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12592?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12592,"key":"0148fb7296ca4543b220ad2d8a8256ed003761c0","name":"58
        - New deal field","order_nr":144,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        22:16:58","update_time":"2017-09-14 22:16:58","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"impor[...]
