---
http_interactions:
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12582?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12582,"key":"eced4a57d94aef481f8737f9ce2d2265b6014d47","name":"Other
        name","order_nr":140,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        15:46:37","update_time":"2016-07-19 15:46:37","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12582,"key":"eced4a57d94aef481f8737f9ce2d2265b6014d47","name":"Other
        name","order_nr":140,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        15:46:37","update_time":"2016-07-19 15:46:38","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 15:46:39 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/dealFields/12588?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":12588,"key":"b453fb8c6ae5f8ac5acd5d24a45621bc32104ccf","name":"Other
        name","order_nr":146,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        16:34:00","update_time":"2016-07-19 16:34:00","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12588,"key":"b453fb8c6ae5f8ac5acd5d24a45621bc32104ccf","name":"Other
        name","order_nr":146,"picklist_data":null,"field_type":"text","add_time":"2016-07-19
        16:34:00","update_time":"2016-07-19 16:34:01","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"mandatory_flag":false}}'
  recorded_at: Tue, 19 Jul 2016 16:34:02 GMT
recorded_with: VCR 3.0.3
