---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/activities?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b905258e-ed0b-4d33-ba47-02f434dc285f
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 22:16:26 GMT
recorded_with: VCR 3.0.3
