---
http_interactions:
- request:
    method: get
    uri: https://api.pipedrive.com/v1/deals/0/activities?api_token=<API_KEY>&include_product_data=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Deal not found","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Wed, 06 Jul 2016 20:12:43 GMT
recorded_with: VCR 3.0.3
