---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/organizations/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - f58cd40f-d4aa-42e9-8755-80dcfe9d3fd6
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Organization name must be given.","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:40:25 GMT
recorded_with: VCR 3.0.3
