---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/221/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":221,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":71,"product_id":221,"add_time":"2016-07-19
        17:06:36"}}'
  recorded_at: Tue, 19 Jul 2016 17:06:43 GMT
[...]
- request:
    method: post
    uri: https://api.pipedrive.com/v1/products/294/followers?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":294,"user_id":"742863"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"user_id":742863,"id":86,"product_id":294,"add_time":"2016-07-19
        17:31:24"}}'
  recorded_at: Tue, 19 Jul 2016 17:31:28 GMT
recorded_with: VCR 3.0.3
