---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals//merge?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":null,"merge_with_id":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 344355a8-a475-4665-a3d9-7b3d42773fb9
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Sep 2017 22:16:05 GMT
recorded_with: VCR 3.0.3
