---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/deals//merge?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":null,"merge_with_id":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 462cdfaa-ca3b-422d-bc24-550b99f2b395
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"status":false,"error":"Unknown method ."}'
  recorded_at: Thu, 14 Sep 2017 21:23:08 GMT
recorded_with: VCR 3.0.3
