---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"91 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - decdd2db-c995-400f-823e-e8a7e5d36e9d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '88'
      X-Ratelimit-Reset:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":79,"order_nr":15,"name":"91 - Novo Produto","key_string":"91___novo_produto","icon_key":"91
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:21:44","update_time":"2017-09-14 21:21:44"}}'
  recorded_at: Thu, 14 Sep 2017 21:21:44 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 7915dd14-ccce-4e4c-9a61-76824e1c4e64
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"ActivityType not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:21:46 GMT
recorded_with: VCR 3.0.3
