---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/activityTypes/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"84 - Novo Produto","color":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 6da9ad57-6e1c-433c-9c9d-e69fc9db71a0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Reset:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":97,"order_nr":25,"name":"84 - Novo Produto","key_string":"84___novo_produto","icon_key":"84
        - novo produto","active_flag":true,"color":null,"is_custom_flag":true,"add_time":"2017-09-14
        21:40:52","update_time":"2017-09-14 21:40:52"}}'
  recorded_at: Thu, 14 Sep 2017 21:40:52 GMT
[...]
- request:
    method: put
    uri: https://api.pipedrive.com/v1/activityTypes/0?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"id":0}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 7834a555-1acc-4940-ae50-f3ba909e7b69
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"ActivityType not found","error_info":"Please
        check developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:40:55 GMT
recorded_with: VCR 3.0.3
