---
http_interactions:
- request:
    method: post
    uri: https://api.pipedrive.com/v1/dealFields/?api_token=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"84 - New deal field","field_type":"text"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - e1ddf76b-5f46-4b18-92e8-13a23663f687
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"id":12569,"key":"63b38d1c1d3e5bd1240ccc083a3a5c2f9283e5ff","name":"84
        - New deal field","order_nr":121,"picklist_data":null,"field_type":"text","add_time":"2017-09-14
        21:39:16","update_time":"2017-09-14 21:39:16","active_flag":true,"edit_flag":true,"index_visible_flag":true,"details_visible_flag":true,"add_visible_flag":true,"important_flag":false,"bulk_edit_allowed":true,"searchable_flag":true,"mandatory_flag":false}}'
  recorded_at: Thu, 14 Sep 2017 21:39:17 GMT
- request:
    method: delete
    uri: https://api.pipedrive.com/v1/dealFields/0?api_token=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 410
      message: Gone
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - b0ad7a37-0e8f-4e00-bacb-6ff331f93b7d
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"error":"Field not found.","error_info":"Please check
        developers.pipedrive.com for more information about Pipedrive API.","data":null,"additional_data":null}'
  recorded_at: Thu, 14 Sep 2017 21:39:18 GMT
recorded_with: VCR 3.0.3
